<template>
  <div class="columns">
    <div class="column is-6 is-offset-3">
      <div class="card">
        <div class="card-content">
          <div class="content">
            <form>

              <div class="field">
  <p class="control has-icons-left has-icons-right">
    <input class="input" type="text" placeholder="name" v-model="list.name">
    <span class="icon is-small is-left">
      <i class="fa fa-user"></i>
    </span>
  </p>
</div>

 <div class="field">
  <p class="control has-icons-left has-icons-right">
    <input class="input" type="email" placeholder="Email" v-model="list.email">
    <span class="icon is-small is-left">
      <i class="fa fa-envelope"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fa fa-check"></i>
    </span>
  </p>
</div>
<button class="button is-success is-fullwidth" @click="update">Update</button>
  </form>
  </div>
  </div>
</div>
  </div>
</div>
</template>

<script >
	export default{
		data(){
			return{
	    list:{}
			}
		},
		created(){
			axios.get('/webusers/'+this.$route.params.id).then((data)=>{
				this.list=data.data;
				console.log(data);
			});
		},
		methods:{
			update(){
				axios.put('/webusers/'+this.$route.params.id,this.$data.list).then((data)=>{
          this.$router.push('/clients');
					console.log(data);
				});
			}
		}
	}
</script>