<template>
  <div class="columns">
    <div class="column is-11">
      <div class="card">
        <div class="card-content">
          <div class="content">
            <form>

    <section>
      <div class="columns">
        <div class="column is-7">
         
         <b-field  expanded>
           <b-input type="text" placeholder="Title" v-model="datalist.title"></b-input>
         </b-field>


         
         <b-field expanded>
           <b-input type="text" placeholder="Location"
            icon-pack="fa"
            icon="map-marker"
           v-model="datalist.location"></b-input>
         </b-field>

         <b-field expanded>
           <b-input type="text" placeholder="Price"
           icon-pack="fa"
           icon="usd"
           v-model="datalist.price"></b-input>
         </b-field>
       
       <b-field grouped>
         <b-field expanded>
           <b-datepicker placeholder="select date" icon-pack="fa" icon="calendar" v-model="datalist.date">
               
           </b-datepicker>
         </b-field>
         <b-field expanded>
           <b-timepicker icon-pack="fa"
                placeholder="Click to select..."
                icon="clock-o" v-model="datalist.time_clock">
            </b-timepicker>
         </b-field>
       </b-field>

    <b-field>
        <b-input type="textarea" minlength="5" maxlength="20" placeholder="description" v-model="datalist.description">
            
        </b-input>
    </b-field>


        </div> <!-- end of first section -->


        <div class="column is-4">

       <figure class="media-left">
    <p class="image is-128x128">
      <img :src="datalist.image " v-if="datalist.image">
    </p>
     </figure>
         <b-field >
           <div class="file">
  <label class="file-label">
    <input class="file-input" type="file" @change="changeImage">
    <span class="file-cta">
      <span class="file-icon">
        <i class="fa fa-upload"></i>
      </span>
      <span class="file-label">
        Choose a file…
      </span>
    </span>
  </label>
</div>

         </b-field>
         </b-field></div>

       </div>

    </section>
    <button class="button is-success" @click="create">save</button>
       Cancel
       </button>
  </form>
  </div>
  </div>
</div>
  </div>
</div>
</template>
<script >
  export default{

    data(){
   
   return{
 datalist:{

    title:'',
   location:'',
   price:0,
   date:new Date(),
   time_clock:new Date(),
   description:'',
   user_id:this.$route.params.id,
    image:''
 }
   }
    },

    methods:{

      changeImage(e){

        console.log(e.target.files[0]);
         
         var filereader=new FileReader();
         filereader.readAsDataURL(e.target.files[0])
         filereader.onload=(e)=>{
          this.datalist.image=e.target.result;
          console.log(e.target.result);
         }
      },

      create(){
        axios.post('/postevent',this.$data.datalist).then((data)=>{
          console.log(this.$data.datalist);
        })
      }
    }
  }
</script>