<template>
  <div class="columns">
    <div class="column is-8 is-offset-2">
       <nav class="panel pcust">
  <p class="panel-heading">
 <span class="navbar-end">
  <router-link :to="'/newevent/'+id" >
     <button class="button is-success">
       Create New event for This client
       </button> 
</router-link>
    
     </span>
     
  </p>
  
  
  <div class="panel-block">
    <p class="control has-icons-left">
      <input class="input is-small" type="text" placeholder="search">
      <span class="icon is-small is-left">
        <i class="fa fa-search"></i>
      </span>
    </p>
  </div>
  <a class="panel-block" v-for="spc,key in spec">
    <div class="column is-10">
    <article class="media ">
            <figure class="media-left">
                    <p class="image is-64x64">
                        <img :src="spc.image">
                    </p>
                </figure>
                <div class="media-content">
                    {{ spc.title }}|| {{ spc.id }}||{{ key }}
                  
                    <nav class="level is-mobile">
                  <div class="level-left">
                    <a class="level-item">
                      <span >
                      <p>{{ spc.date }}</p>
                    </span>

                    </a>
                  </div>
                </nav>
                </div>
        
        
    </article>
</div>
<router-link to="">
<span class="panel-icon">
<i class="fa fa-trash-o" aria-hidden="true"@click="killevent(key,spc.id)"></i>
</span>
</router-link>
 
<router-link :to="'/evup/'+ spc.id +'/edit'">
   <span class="panel-icon">
<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
</span> 
</router-link>
  
  </a>
</nav>
  </div>
</div>
</template>

<script>
  export default{
    data(){
      return{
        id:this.$route.params.id,
        spec:[]
      }
    },
    created(){
      const loading=this.$loading.open();
      axios.get('/specific/'+this.id).then((data)=>{
        this.spec=data.data;
        loading.close();
        console.log(data);
      });
    },
    methods:{
    killevent(key,uid){
      swal({
  title: "Are you sure?",
  text: "Once deleted, you will not be able to recover it again!",
  icon: "warning",
  buttons: true,
  dangerMode: true,
})
.then((willDelete) => {
  if (willDelete) {
    axios.delete('/delEvent/'+uid).then((data)=>{
      this.spec.splice(key,1);
      swal("Poof! Event has been deleted!", {
      icon: "success",
    })
    });
    
  } else {
    swal("Your  Event is safe!");
  }
});
    }
    }
  }
</script>

   
      



