<template>
  <div class="content">
    <div class="colimns">
      <div class="column is-10 is-offset-1">
  <nav class="panel pcust">
  <p class="panel-heading">
    AllEvents
  </p>
  <div class="panel-block">
    <p class="control has-icons-left">
      <input class="input is-small" type="text" placeholder="Type title" v-model="query">
      <span class="icon is-small is-left">
        <i class="fa fa-search"></i>
      </span>
    </p>
  </div>
  <a class="panel-block" v-for="rf,key in iterasearch">
    <div class="column is-10">
     <article class="media ">
            <figure class="media-left">
                    <p class="image is-64x64">
                        <img :src="rf.image">
                    </p>
                </figure>
                <div class="media-content">
                <div>{{ rf.title }}</div>

                    {{ rf.description }} 
                  
                    <nav class="level is-mobile">
                  <div class="level-left">
                    <a class="level-item">
                      <span >
                      <p class="tag is-success">({{ rf.date }}) {{ rf.time_clock }} at {{ rf.location }}</p>
                    </span>

                    </a>
                  </div>
                </nav>
                </div>
        
    </article>
 </div>
<span class="column is-1">
   <i class="fa fa-trash-o" aria-hidden="true" @click="efface(key,rf.id)"></i>
 </span>
 <span >
  <router-link :to="'/evup/'+ rf.id +'/edit'">
    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>  
 </router-link>
 </span>
  </a>

 
</nav>
  </div>
</div>
</div>
</template>
<script>
  export default{
    data(){
      return{
       refunded:[],
       query:''
      }
    },
    created(){
      const loading=this.$loading.open();
      axios.get('/refeve').then((data)=>{
        this.refunded=data.data;
        loading.close();
        console.log(data);
      });
    },

    methods:{
      efface(ky,uid){
        axios.delete('/delEvent/'+uid).then((data)=>{
          this.refunded.splice(ky,1);
          console.log(data);
        });
      }
    },
    computed:{
      iterasearch:function(){
        return this.refunded.filter((data)=>{
          return data.title.toLowerCase().match(this.query);
        });
      }
    }

  }
</script>