<template>
  <div class="columns">
    <div class="column is-11">
      <div class="card">
        <div class="card-content">
          <div class="content">

            {{ id }}
            <form>
    <section>
       <b-field grouped>
         <b-field label="First name" expanded>
           <b-input type="text" placeholder="first name" v-model="singleUser.first_name"></b-input>
         </b-field>
         <b-field label="Last name" expanded>
           <b-input type="text" placeholder="last name" v-model="singleUser.last_name"></b-input>
         </b-field>
       </b-field>

       <b-field  expanded>
           <b-input type="email" placeholder="email" v-model="singleUser.email"></b-input>
         </b-field>

         <b-field grouped>
         <b-field label="Iban number" expanded>
           <b-input type="text" placeholder="Iban number" v-model="singleUser.iban_number"></b-input>
         </b-field>
         <b-field label="BIC number" expanded>
           <b-input type="text" placeholder="BIC number" v-model="singleUser.bic_number"></b-input>
         </b-field>
       </b-field>
    </section>
    <button class="button is-success" @click="appdt">Update</button>
  </form>
  </div>
  </div>
</div>
  </div>
</div>
</template>

<script >
  export default{
    data(){
      return{
        id:this.$route.params.uid,
        singleUser:{}
      }
    },
    created(){
      const loading=this.$loading.open();
      axios.get('/oneuser/'+this.id).then((data)=>{
        this.singleUser=data.data;
        loading.close();
        console.log(data);
      });
    },
    methods:{
      appdt(){
        axios.put('/appuserchange/'+this.id,this.$data.singleUser).then((data)=>{
          this.$router.push('/endUser');
          console.log(data);
        });
      }
    }
  }
</script>