<template>
  <div class="content">
    <div class="colimns">
      <div class="column is-10 is-offset-1">
  <nav class="panel pcust">
  <p class="panel-heading">
    All clients
  </p>
  <div class="panel-block">
    <p class="control has-icons-left">
      <input class="input is-small" type="text" placeholder="Name" v-model="query">
      <span class="icon is-small is-left">
        <i class="fa fa-search"></i>
      </span>
    </p>
  </div>
   <a>
   
   <router-link to="/createuser">
     <button class="button  is-fullwidth is-success">
        <i class="fa fa-user-plus" aria-hidden="true"></i>
      Create New
    </button>
   </router-link>
      
   
  </a>
  <a class="panel-block" v-for="mdt,key in itersearch">
    <div class="column is-10">
     <article class="media ">
            <figure class="media-left">
                    <p class="image is-64x64">
                        <img src="http://www.topvending.co.za/wp-content/uploads/2015/09/placeholder-man-grid-240x268.png">
                    </p>
                </figure>
                <div class="media-content">
                    {{ mdt.name }} 
                  
                    <nav class="level is-mobile">
                  <div class="level-left">
                    <a class="level-item">
                      <span >
                      <p>{{ mdt.email }}</p>
                    </span>

                    </a>
                  </div>
                </nav>
                </div>
        
    </article>
 </div>
 <router-link to="">
    <span class="panel-icon">
<i class="fa fa-trash-o" aria-hidden="true" @click="kill(key,mdt.id)"></i>
</span>
</router-link>
<router-link :to="'/editclient/'+mdt.id">
   <span class="panel-icon">
<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
</span>
</router-link>
  </a>

 
</nav>
  </div>
</div>
</div>
</template>

<script >
  export default{

    data(){
      return{

         mydata:[],
         query:''
      }
    },

    created(){
     const loading=this.$loading.open();
         axios.get('/webusers').then((data)=>{
           this.mydata=data.data;
           loading.close();
           console.log(this.mydata);
         })
      
    },
    computed:{
     itersearch:function(){
      return this.mydata.filter((data)=>{
         return data.name.toLowerCase().match(this.query);
      });
     }
    },
    methods:{
      kill(ky,md){
         
         axios.delete('/webusers/'+md).then((data)=>{
          this.mydata.splice(ky,1);
          console.log(data);
         });
      }
    }
  }
</script>