<template>
  <div class="columns">
    <div class="column is-6 is-offset-3">
      <div class="card">
        <div class="card-content">
          <div class="content">
            <form>

              <div class="field">
  <p class="control has-icons-left has-icons-right">
    <input class="input" type="text" placeholder="name" v-model="list.name">
    <span class="icon is-small is-left">
      <i class="fa fa-user"></i>
    </span>
  </p>
</div>

 <div class="field">
  <p class="control has-icons-left has-icons-right">
    <input class="input" type="email" placeholder="Email" v-model="list.email">
    <span class="icon is-small is-left">
      <i class="fa fa-envelope"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fa fa-check"></i>
    </span>
  </p>
</div>
<div class="field">
  <p class="control has-icons-left">
    <input class="input" type="password" placeholder="Password" v-model="list.password">
    <span class="icon is-small is-left">
      <i class="fa fa-lock"></i>
    </span>
  </p>
</div>
<button class="button is-success is-fullwidth" @click="register">Register</button>
  </form>
  </div>
  </div>
</div>
  </div>
</div>
</template>

<script >
  export default{

    data(){
      return{

        list:{

        name:'',
        email:'',
        password:''
      }

      }
    },

    methods:{
      register:function(){
         axios.post('/postFom',this.$data.list).then((data)=>{
           console.log('well done');
         })
      }
    }
  }
</script>