<template>
	<div class="content">
		<div class="colimns">
			<div class="column is-10 is-offset-1">
	<nav class="panel pcust">
  <p class="panel-heading">
    All Appusers
  </p>
  <div class="panel-block">
    <p class="control has-icons-left">
      <input class="input is-small" type="text" placeholder="search" v-model="query">
      <span class="icon is-small is-left">
        <i class="fa fa-search"></i>
      </span>
    </p>
  </div>
  <a class="panel-block" v-for="node,key in itersearch">
    <div class="column is-10">
     <article class="media ">
            <figure class="media-left">
                    <p class="image is-64x64">
                        <img src="http://economics.virginia.edu/sites/economics.virginia.edu/files/styles/people_crop__700x700_/public/person-placeholder_0_0.png?itok=_GDOXxLd">
                    </p>
                </figure>
                <div class="media-content">
                  <p>{{ node.first_name }}</p>
                  <p>{{ node.email }}</p>
                  
                  <nav class="level is-mobile">
                <div class="level-left">
                  <a class="level-item column is-offset-1">
                    <span class="icon is-small"><i class="fa fa-credit-card" aria-hidden="true"></i></span>
                  </a>
                  
                </div>
                
              </nav>
                </div>
        
    </article>

 </div>
 <span class="column is-1">
   <i class="fa fa-trash-o" aria-hidden="true" @click="mkrm(key,node.id)"></i>
 </span>
 <span >
  <router-link :to="'/appuser/'+node.id">
    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>  
 </router-link>
 </span>
 
  </a>
</nav>
	</div>
</div>
</div>
</template>

<script>
  export default{
  data(){
    return{
      appusers:[],
      query:''
    }
  },
  created(){
    const loading=this.$loading.open();
    axios.get('/colect').then((data)=>{
      this.appusers=data.data;
      loading.close();
      console.log(data);
    });
  },
   methods:{
    mkrm(key,uid){
      swal({
  title: "Are you sure?",
  text: "Once deleted, you will not be able to recover it again!",
  icon: "warning",
  buttons: true,
  dangerMode: true,
})
.then((willDelete) => {
  if (willDelete) {
    axios.delete('/delapuser/'+uid).then((data)=>{
      this.appusers.splice(key,1);
      swal("Poof! Event has been deleted!", {
      icon: "success",
    })
    });
    
  } else {
    swal("Your  Event is safe!");
  }
});
    }
  },
  computed:{
 itersearch:function(){
  return this.appusers.filter((data)=>{
    return data.first_name.toLowerCase().match(this.query);
  });
 }
  }
  }
</script>