<template>
    <div>
        <div >
            <div>
                <div>
                    <div >Example Component</div>

                    <div >
                        I'm an example component!
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
