<template>		
       
<div class="content">
	
<div class="colimns">
	<div class="column is-8 is-offset-2">
  <div class="panel-body">
    <form >
        
    <div class="field">
  <p class="control has-icons-left has-icons-right">
    <input class="input is-small" type="email"  placeholder="Email">
    <span class="icon is-small is-left">
      <i class="fa fa-envelope"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fa fa-check"></i>
    </span>
  </p>
</div>

<div class="field">
  <p class="control has-icons-left">
    <input class="input is-small" type="text"  placeholder="Password">
    <span class="icon is-small is-left">
      <i class="fa fa-lock"></i>
    </span>
  </p>
</div>
<div class="field">
  <p class="control">
    <button type="submit" @click.prevent="getFormValues()">
      Login
    </button>
  </p>
</div>
  </form>
</div>
</div>
 </div>
</div>
</template>

<script type="text/javascript">
	export default {
		data(){
			return{

				auth:{
				email:'gpurdy@example.com',
				password:'secret'	
				}
			}
		},
		methods:{
			getFormValues(){
             axios.post('/login/',this.auth);
			}
		}
	}
</script>