<template>
  <div class="content">
    <div class="colimns">
      <div class="column is-10 is-offset-1">
  <nav class="panel pcust">
  <p class="panel-heading">
    Event refunded
  </p>
  <div class="panel-block">
    <p class="control has-icons-left">
      <input class="input is-small" type="text" placeholder="title">
      <span class="icon is-small is-left">
        <i class="fa fa-search"></i>
      </span>
    </p>
  </div>
  <a class="panel-block" v-for="rf,key in refunded">
    <div class="column is-10">
     <article class="media ">
            <figure class="media-left">
                    <p class="image is-64x64">
                        <img :src="rf.image">
                    </p>
                </figure>
                <div class="media-content">
                    {{ rf.description }} 
                  
                    <nav class="level is-mobile">
                  <div class="level-left">
                    <a class="level-item">
                      <span >
                      <p class="tag is-success">({{ rf.refund.length }}) people refund this</p>
                    </span>

                    </a>
                  </div>
                </nav>
                </div>
        
    </article>
 </div>
  </a>

 
</nav>
  </div>
</div>
</div>
</template>
<script>
  export default{
    data(){
      return{
       refunded:[]
      }
    },
    created(){
      const loading=this.$loading.open();
      axios.get('/refeve').then((data)=>{
        this.refunded=data.data;
        loading.close();
        console.log(data);
      });
    },

  }
</script>