<template>

    <div class="column is-8 is-offset-2 ">
    <nav class="panel pcust">
  <p class="panel-heading">
    Client with their Events
  </p>
  <div class="panel-block">
    <p class="control has-icons-left">
      <input class="input is-small" type="text" placeholder="search a name" v-model="query">
      <span class="icon is-small is-left">
        <i class="fa fa-search"></i>
      </span>
    </p>
  </div>
  
  <a class="panel-block" v-for="m in itersearch" v-if="m !== null" track-by="id">
    <div class="column is-10">
      <router-link :to="'/addevents/'+ m.id">
    <article class="media ">
            <figure class="media-left">
                    <p class="image is-64x64">
                        <img src="http://www.topvending.co.za/wp-content/uploads/2015/09/placeholder-man-grid-240x268.png">
                    </p>
                </figure>
                <div class="media-content">
                    {{ m.name }}
                    <nav class="level is-mobile">
                  <div class="level-left">
                    <a class="level-item">
                      <span >
                      <p class="tag is-success">({{ m.events.length }})Events</p>
                    </span>

                    </a>
                    
                  </div>
                </nav>
                </div>   
    </article>
    </router-link>
    </div>


<router-link :to="'/addevents/'+ m.id">
  <span class="panel-icon">
<i class="fa fa-chevron-right" aria-hidden="true"></i>
</span>
</router-link>


    
  </a>
</nav>

</div>
</template>


<script>
    export default {
        data() {
            return {
                 tableData:[],
                 query:'',
                 temp:'',
              
            }
        }
        ,
        created(){
          const loading=this.$loading.open();
          axios.get('/usersevents').then((data)=>{
              this.tableData=data.data;
             loading.close();
            console.log(data.data);
          });
        },
       computed:{
        itersearch:function(){
          return this.tableData.filter((data)=>{
            return data.name.toLowerCase().match(this.query);
          })
        }
       }
    }
</script>