html,body{
	
	background-color: #f3f3f4;
	height: 100%;
	overflow-x:hidden;
	overflow-y: scroll;
}

.media-content{
line-height: 30px;
}
.media-content p{
line-height: 22px;
}
.login-form{
	margin-top: 18%;
}
.logo-box{
    margin-top: 46%;
	height: 50px;
	width: 50px;
	position: absolute;
	border-radius: 100%;
	margin-left: 45px;
}

.logo-box .fa{
	font-size: 30px;
	color: red;
	margin-left: 17px;
}
.my-side-nav{
	position: absolute;
	width: 200px;
	background-color: #116466;
	height: 100%;
	overflow:hidden;
	padding-top: 100px;
	padding-right:10px;
	
}


.menu-label{
	text-align: center;
}
.contents{
	padding-left: 210px;
	padding-right: 0;
	padding-top: 70px;
}
.pcust{
	background-color: #fff;
}
.client{
	background-color: #fff;
}

ul,li{
	list-style-type:none;
}
.is-fullwidth{
	background-color: #116466;
	color: #fff;
}

.combiner{
	display: none;
	
}

.navbar{
	padding-right:1%;
}

.myanv{
}




